<app-dashboard *ngIf="user.isAdmin"></app-dashboard>

<div *ngIf="!user.isAdmin" class="wrapper">
  <aside   [ngClass]="isSearchBarVisible ? 'aside' : 'hide'">
    <app-search />
    <app-tags (showCategory)="onShowCategory($event)" />
  </aside>

  <app-not-found
    [visible]="!products || !products.length"
    resetLinkText="Reset Search"
  />

  <ul class="products-container">
    <li *ngFor="let product of products">
      <app-card
        [product]="product"
        [favoriteProductsSet]="favoriteProductsSet"
        (favoriteToggled)="handleFavoriteToggled(product)"
        [size]="CardSize.Medium"
      ></app-card>
    </li>
  </ul>
</div>
