<nav  [ngClass]="{ close: !isSidebarOpen, open: isSidebarOpen }">
    <app-logo />

  <div class="menu-items">
    <ul class="nav-links" *ngIf="isAuth">
      <li *ngIf="!user.isAdmin" (click)="isSmallScreen && closeMenu()">
        <a routerLink="/">
          <span><mat-icon class="icon">home_filled</mat-icon></span>
          <span class="link-name">Store</span>
        </a>
      </li>

      <li  (click)="isSmallScreen && closeMenu()">
        <a *ngIf="!user.isAdmin" class="cart-btn" routerLink="/cart-page">
          <span><mat-icon class="custom-icon icon">shopping_cart</mat-icon></span>
          <span class="counter icon" *ngIf="cartQuantity">{{ cartQuantity }}</span>
          <span class="link-name">Cart</span>
        </a>
      </li>

      <li *ngIf="user.isAdmin" (click)="isSmallScreen && closeMenu()">
        <a routerLink="/dashboard" >
          <span ><mat-icon class="icon">home_filled</mat-icon></span>
          <span class="link-name" *ngIf="user.isAdmin">Dashboard</span>
        </a>
      </li>

      <li *ngIf="user.isAdmin" (click)="isSmallScreen && closeMenu()">
        <a routerLink="/products">
          <span><mat-icon class="icon">category</mat-icon></span>
          <span class="link-name" *ngIf="user.isAdmin">Products</span>
        </a>
      </li>


      <li (click)="isSmallScreen && closeMenu()">
        <a routerLink="/account">
          <span>
            <mat-icon class="icon">person</mat-icon>
          </span>
          <span class="link-name">Profile</span>
        </a>
      </li>

      <li *ngIf="!user.isAdmin" (click)="isSmallScreen && closeMenu()">
        <a routerLink="/orders">
          <span>
            <mat-icon class="icon">shop</mat-icon>
          </span>
          <span class="link-name">Orders</span>
        </a>
      </li>

      <li *ngIf="user.isAdmin" (click)="isSmallScreen && closeMenu()">
        <a routerLink="/all-orders">
          <span>
            <mat-icon class="icon">shop</mat-icon>
          </span>
          <span class="link-name">Orders</span>
        </a>
      </li>

      <li *ngIf="user.isAdmin" (click)="isSmallScreen && closeMenu()">
        <a routerLink="/users">
          <span>
            <mat-icon class="icon">people</mat-icon>
          </span>
          <span class="link-name">Users</span>
        </a>
      </li>
    </ul>

    <ul class="logout-mode">
      <li *ngIf="displaySearchIcon"  (click)="isSmallScreen && closeMenu()">
        <a (click)="toggleSearchBar()">
          <span>
            <mat-icon class="icon">search</mat-icon>
          </span>
          <span class="link-name">Search</span>
        </a>
      </li>

      <li *ngIf="isAuth" (click)="isSmallScreen && closeMenu()">
        <a class="login-link" (click)="logout()">
          <span><mat-icon class="icon">logout</mat-icon></span>

          <span class="link-name">Logout</span>
        </a>
      </li>

      <li *ngIf="!isAuth" (click)="isSmallScreen && closeMenu()">
        <a class="login-link" routerLink="/login">
          <span><mat-icon class="icon">login</mat-icon></span>
          <span class="link-name">Login</span>
        </a>
      </li>

      <li class="mode">
        <a>
          <mat-icon class="icon">mode_night</mat-icon>
          <span class="link-name">Dark Mode</span>
        </a>
        <app-theme-toggle />
      </li>
    </ul>
  </div>
</nav>
