.wrapper {
  margin-top: 3rem
}

app-title {
    text-align: center;
}

.container{
    margin: 1rem auto;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
  }
  
  .content{
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .summary > div{
    padding: 2rem;
    margin: 0.7rem;
    box-shadow: 0 2px 4px var(--shadow-color); 
    border-radius: 5px;
    background-color: var(--light-color);
  }
  
  .summary span {
    margin-left: 0.4rem;
    font-size: 1em;
    font-weight: 600;
  }
  
  h3 {
    margin-top: 0.6rem;
  }

  h3, h2 {
    font-size: 0.8em;
  }


  

  