.container {
    padding-bottom: 40px;
    height: 100%;
    max-width: 1200px;
    overflow: hidden;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

app-title {
    padding: 0.5rem;
}

.add-button {
    align-self: flex-end;
    margin: 1rem 2rem ;
}

.table-container {
    margin-top: 2rem;
    overflow-y: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

.form-field-container {
    max-width: 1170px;
    margin: 0 auto;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
}
  

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

th {
    font-weight: 600;
}

td {
    padding-block: 0.5rem;
}

.mat-mdc-paginator-container {
    width: 50%;
}

mat-paginator {
    padding-block: 1rem;
}




@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .table-container {
        margin-top: 0;
    }

    table {
        margin-bottom: 0rem;
    }
}
