
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.app-container {
    width: 100%;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}


app-navigation {
    width: 250px; 
}

.content, mat-form-field {
    width:  calc(100% - 250px);
    transition:  0.5s ease;
}



.closed-sidebar {
    left: 73px;
    width: calc(100% - 73px);
    transition:  0.5s ease;
}


.close  {
    width: 73px;
}





@media screen and (max-width: 700px) {
    .content {
        left: 73px;
        width: calc(100% - 73px);
        transition:  0.5s ease;
    }
    
    app-navigation  {
        width: 73px;
    }

    .closed-sidebar {
        left: 250px;
        width: calc(100% - 250px);
        transition:  0.5s ease;
    }

    .close  {
        width: 250px;
    }

    
    .overlay {
        width: 100%;
        height: 100%;
        background-color: var(--transparent-light); 
        opacity: 0.5; 
        transition: opacity 0.3s ease;
        z-index: 8; 
     
    }
  

}
@media screen and (max-width: 400px) {
    .content {
        left: 0px;
        width: 100%;
        transition:  0.5s ease;
    }
    
    app-navigation  {
        width: 0px;
    }

    .closed-sidebar {
        left: 250px;
        width: calc(100% - 250px);
        transition:  0.5s ease;
    }

    .close  {
        width: 250px;
    }
    
    .overlay {
        width: 100%;
        height: 100%;
        background-color: var(--transparent-light); 
        opacity: 0.5; 
        transition: opacity 0.3s ease;
        z-index: 8; 
    }
  
}

