  .container{
    height: 100%;
    min-height: calc(100vh - 40px); 
    padding-top: 100px;
    padding-bottom: 40px;
    margin-top: 1rem;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1; 
    gap: 3rem;
    overflow: hidden;
  }

  .scrollable-container {
    overflow-x: auto;

  }
  
  .content{
    width: 35rem;
    display: flex;
    flex-direction: column;   
    overflow: hidden;

  }

  
  .summary > div{
    display: flex;
    margin-top: 0.7rem;
  }
  
  .summary span {
    font-size: 1.2rem;
  }
  
  .summary h3{
    margin: 0 1rem 0 0;
    flex-basis: 5rem;
  }

  app-map {
    width: 100%;
  }
  
  
  .buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .buttons{
    margin: 2rem;
    width: 35rem;
  }
  
  @media screen and (max-width: 700px) {
    .map {
      width: 100%;
      min-width: 300px;
    }
  }