* {
  padding: 0;
  margin: 0;
}

header {
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--transparent-light);
    border-bottom: 1px solid var(--light-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    transition: 0.5s ease;
  }

  .closed-sidebar {
    width: calc(100% - 73px);
  }

  a.login-link  {
    height: 60px;
  }

  a, button { 
    height: 100%;
    padding: 1rem;
    color:  var(--primary-color);
  }
  
  a:hover, button:hover {
    background:var(--primary-color);
    color: var(--toggle-color);
    cursor: pointer;
  }

  button {
    border: none;
    outline : none;
    background-color: transparent;
  }

  mat-icon {
    height: 21px;
  }

  .hamburger-menu {
    padding: 1rem;
  }
  

  .hamburger-menu:hover {
    background-color: var(--primary-color);
    color: var(--toggle-color);
  }
  
  
  app-logo {
    display:  none;
  }

  
  ul{
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none; 
  }

  li {
    height: 100%;
    align-self: center;
  }
  
  ul a{
    display: flex;
    align-items: center;
  }

  .dashboard {
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .dashboard span {
    font-size: 15px;
    margin-left: 5px;
  }

  .dashboard img {
    width: 45px;
    height: 45px;
    padding: 0.08rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px var(--shadow-color);
    border: 1px solid var(--light-color);
  }
  
  .role {
    margin-right: 0.5rem; 
  }

  .role > p, .role p > span {
    text-align: right; 
    font-size: 0.7rem;
  }

  .role p > span {
    font-weight: bold;
  }


  
  .menu-container{
    width: 100%;
    position: relative;
    color: var(--text-color);
  }


  .menu{
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    background: var(--light-background);
    color:  var(--primary-color);
    display: none;
  }

  .menu-container > a:hover {
    color: var(--toggle-color);
  }

  .logout:hover {
    color: var(--toggle-color);
  }
  
  .menu-container:hover .menu{
    display: block;
    color:  var(--primary-color);
  }

 
  .menu a{
    width: 100%;
    min-width:8rem;
  }

  .custom-icon {
    height: 100%;
    margin-top: 0.4rem;
  }

 a:hover app-sidebar-toggle {
    color: white;
}
  


@media screen and (max-width: 900px) {
  
  .container {
    width: 100%;
  }
  
  a, button, .logo {
    padding-inline: 1.2rem;
  }
  
  .logo {
    padding-inline: 1rem;
    }

    .role {
      display: none;
    }

    app-sidebar-toggle {
      float: right;
    }
  }
  
  
  @media screen and (max-width: 700px) {
    header {
      width: calc(100% - 73px);
    }
  
    .closed-sidebar{
      width: calc(100% - 250px);
    }
  }


  @media screen and (max-width: 400px) {
    header {
      width: 100%;
      justify-content: space-between;
    }
  
    .closed-sidebar{
      width: calc(100% - 250px);
    }

    .hide {
      display: none;
    }

  
    .hamburger-menu, a.logo {
      width: 100%;
    
    }
  }