<header>
  <div class="container">
    <a routerLink="/" class="logo">Web Store</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">
            <div class="dashboard">
              <mat-icon >person</mat-icon>
              <span>{{user.name}}</span>
            </div>
          </a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/profile">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
       
            <a class="cart-btn" routerLink="/cart-page">
              <mat-icon class="custom-icon">shopping_cart</mat-icon>
              <span class="counter" *ngIf="cartQuantity">{{cartQuantity}}</span>
            </a>
         
        </li>
      </ul>
    </nav>
  </div>
</header>
