<div class="container">
  <app-partical-background />
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <app-text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        placeholder="Email"
        icon="email"
       
      ></app-text-input>

      <app-text-input
        #password
        [showPassword]="showPassword"
        (iconClick)="togglePasswordVisibility('showPassword')"
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        icon="lock"
       
      ></app-text-input>

      <app-button
        [disabled]="isFormInvalid"
        [cursor]="(isFormInvalid) ? 'not-allowed' : 'pointer'"
        [bgColor]="(isFormInvalid) ? '#3f3f3f' : '#F50057'"
        text="Login"
      ></app-button>

      <div class="register">
        No account? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
