<div class="container">
  <app-partical-background />
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <app-text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted || (fc.email.touched && fc.email.invalid)"
        type="email"
        placeholder="Email"
        icon="email"
        [border]="
          fc.email.touched && fc.email.invalid
            ? '2px solid rgb(245, 0, 87)'
            : ''
        "
      ></app-text-input>

      <app-text-input
        #password
        [showPassword]="showPassword"
        (iconClick)="togglePasswordVisibility('showPassword')"
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted || (fc.password.touched && fc.password.invalid)"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        icon="lock"
        [border]="
          fc.password.touched && fc.password.invalid
            ? '2px solid rgb(245, 0, 87)'
            : ''
        "
      ></app-text-input>

      <app-button
        [disabled]="loginForm.touched && loginForm.invalid"
        bgColor="{{
          loginForm.touched && loginForm.invalid ? '#3f3f3f' : '#F50057'
        }}"
        text="Login"
      ></app-button>

      <div class="register">
        No account? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
