<div class="container">
  <app-partical-background />
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <app-text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted || loginForm.touched"
        type="email"
        label="Email"
      ></app-text-input>

      <app-text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted || loginForm.touched"
        type="password"
        label="Password"
      ></app-text-input>

      <app-button
        [disabled]="loginForm.touched && loginForm.invalid"
        bgColor="{{ loginForm.touched && loginForm.invalid ? '#3f3f3f' : '#3f97b8' }}"
        text="Login"
      ></app-button>

      <div class="register">
        No account? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
