.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
   
    margin: 0.5rem auto;
  }
  
  ul{
    display: flex;
    flex-direction: column;
    flex:3 0;
    justify-content: space-evenly;
    border: 1px solid rgb(132, 172, 186);
    border-radius: 1rem;
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    max-width: 800px;
    
  }
  
  ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
    padding: 1rem;
  }
  
  ul li:last-child{
    border: none;
  }
  
  li img{
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
  }
  
  li div{
    padding: 0rem;
  }

  li div img {
    cursor: pointer;
  }

  li div img:hover {
    opacity: 0.8;
  }
  
  li div:not(:first-child){
    flex-basis: 18%;
  }
  
  li select{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.1rem;
    font-weight: 100;
  }
  
  li .remove-button{
    background: none;
    border: none;
    padding: 0.5rem;
    color: rgb(63, 151, 184);
    outline: none;
  }
  
  li .remove-button:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  
  .checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex:1 3;
    height: 20rem;
    border: 1px solid rgb(132, 172, 186);
    border-radius: 1rem;
    width: 30rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  
  .checkout>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .products-count{
    margin-bottom: 1.5rem;
  }
  
  .products-count::before{
    content:"Count: ";
    color: grey;
  }
  
  .total-price::before{
    content: 'Total: ';
    color: grey;
  }
  
  .checkout a{
    padding: 1rem;
    color: white;
    background:rgb(63, 151, 184);
    display: block;
    width: 99%;
    border-radius: 1rem;
    text-align: center;
    opacity: 0.8;
    justify-self: center;
  }
  
  .checkout a:hover{
    opacity: 1;
    cursor: pointer;
  }
  

  @media screen and (max-width: 990px) {
    .wrapper {
      width: 100%;
    }
    .container {
      width: 80%;
      flex-direction: column;
      align-items: center;
      

    }

    ul{
      width: 100%;
    }

   
    .checkout  {
      width: 300px;
    }
   
  }

  @media screen and (max-width: 440px) {
    .wrapper {
      width: 100%;
    }
    ul li {
      flex-direction: column;
      gap: 5px;
    }
  }