.wrapper {
    height: 100%;
    min-height: calc(100vh - 40px) ; 
    padding-top: 60px;
    padding-bottom: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
}

app-title {
    padding: 0.5rem;
    text-align: center;
}

.form {
    margin: 0 auto;
    padding: 2rem;
    width: 27rem;
    background-color: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 8px var(--shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 8px var(--shadow-color);
    border: 2px solid var(--light-color);
    object-fit: cover;
}

.text-input {
    width: 100%;
    padding: 1rem;
}

input {
    display: block;
}

.icon {
    color: var(--primary-color);
    cursor: pointer;
}

.edit-icon {
    margin-top: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--toggle-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 0 2px 4px var(--shadow-color); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: 2;
}

.edit-icon mat-icon:hover {
    color: var(--primary-color);
}

.edit-icon:hover {
    background-color: var(--toggle-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.icon:hover {
    opacity: 0.8;
}

.file-input-container {
    width: 100px;
    padding: 10px;
    background-color: var(--toggle-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--shadow-color); 
    transition: box-shadow 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 1;
}

.file-input-label {
    display: flex;
    overflow: hidden;
    cursor: pointer;
  }
  
.file-input-label input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    cursor: pointer;
}
  
.file-input-label mat-icon {
 margin-right: 8px; 
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

app-button {
    width: 48%;
    min-width: 9rem;
  }

.delete-account-container {
    margin-top: 0rem;
}

  
.delete-account-container a {
    height: 50px;
    font-size: 14px;
    color: var(--disabled-color);
    text-decoration: underline;
}




 
@media screen and (max-width: 700px) {
    .form {
      width: 90%;
      max-width: 27rem;
    }

    .text-input {
        width: 100%;
        padding: 0 0 1rem;
    }

    .buttons-container {
        flex-direction: column;
        gap: 0;
    }

    app-button {
        width: 100%;
      }
  }
  
  