<div class="wrapper">
  <form class="form" [formGroup]="editAccountForm">
    <app-title title="Edit Profile" margin="0 auto" />

    <div class="image-container">
      <img *ngIf="user.avatar" src="{{ user.avatar }}" alt="profile picture" />
      <img
        *ngIf="!user.avatar"
        src="https://cdn-icons-png.flaticon.com/512/64/64572.png"
        alt="profile picture"
      />

      <div class="edit-icon" (click)="toggleEditAvatar()">
        <mat-icon *ngIf="!editImageIsOpen">edit</mat-icon>
        <mat-icon *ngIf="editImageIsOpen">close</mat-icon>
      </div>

      <div class="file-input-container" *ngIf="editImageIsOpen">
        <label class="file-input-label">
          <input
            type="file"
            (change)="handleFileChange($event)"
            accept=".jpg, .jpeg, .png"
          />
          <mat-icon class="icon">add_a_photo</mat-icon>
        </label>
        <mat-icon class="icon" (click)="deleteAvatar()">delete</mat-icon>
      </div>
    </div>

    <div class="text-input">
      <app-text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Username"
        value="{{ user.name }}"
      ></app-text-input>

      <app-text-input
        [control]="fc.address"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Address"
        value="{{ user.address }}"
      ></app-text-input>

      <app-text-input
        #dynamicInput
        [isPhone]="true"
        [control]="fc.phone"
        [showErrorsWhen]="isSubmitted"
        type="tel"
        label="Phone"
        placeholder="Phone number"
        value="{{ user.phone }}"
        (dialCodeChange)="handleDialCodeChange($event)"
      ></app-text-input>

      <div class="buttons-container">
        
      <app-button
       
        [text]="'Save'"
        [icon]="'save_alt'"
        (click)="saveChanges()"
      />
      <app-button
        
        [text]="'Cancel'"
        [icon]="'not_interested'"
        bgColor="#F50057"
        (click)="cancelChanges()"
      />
      </div>

    </div>

    <div class="delete-account-container">
      <a routerLink="/delete-account">Delete Account</a>
    </div>
  </form>
</div>
