.wrapper {
    height: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

app-title {
    padding: 0.5rem;
    text-align: center;
}

.form {
    margin: 0 auto;
    padding: 2rem;
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    position: relative;

}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgb(185, 185, 185);
    border: 2px solid #e5e5e5;
    object-fit: cover;
}

input {
    display: block;
}

.icon {
    color: rgb(63, 151, 184);
    cursor: pointer;
}

.edit-icon {
    margin-top: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #3f51b5;
    border: 2px solid #3f51b5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    z-index: 2;
}

.edit-icon mat-icon:hover {
    color: #3f51b5;
}

.edit-icon:hover {
    background-color: white;
    color: #3f51b5;
    border: 2px solid #3f51b5;
}

.icon:hover {
    opacity: 0.8;
}

.file-input-container {
    width: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 1;
}

.file-input-label {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
  }
  
.file-input-label input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    cursor: pointer;
}
  
.file-input-label mat-icon {
 margin-right: 8px; 
}

.delete-account-container {
 padding: 1rem;
}

  
.delete-account-container a {
    height: 50px;
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}

 
