.container {
    min-height: 91vh;
    max-width: 1200px;
    overflow-y: auto;
    overflow-x: hidden;
  


}

.add-button {
    float: right;
}

.table-container {
    margin: 8rem 0 5rem;
    overflow-y: auto;
    align-self: center;
}

table {
    width: 100%;
    
}

.form-field-container {
    max-width: 1170px;
    margin: 0 auto;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
}
  

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

th {
    font-weight: 600;
}

td {
    padding-block: 0.5rem;
}




  @media screen and (max-width: 700px) {
    .container {
      width: 100%;
    }

    table {
        margin-bottom: 0rem;
    }

    
  }