<div class="input-wrapper">
  <app-input-container
    [label]="label"
    [icon]="icon"
    [border]="isInvalid ? '1px solid rgb(245, 0, 87)' : ''"
    [showPassword]="showPassword"
    (iconClick)="iconClickTrigger()"
  >
    <input
      [type]="type"
      [value]="value"
      [placeholder]="placeholder"
      [formControl]="formControl"
    />
  </app-input-container>

  <app-input-validation
    [control]="control"
    [showErrorsWhen]="showErrorsWhen"
    [isInvalid]="isInvalid"
  ></app-input-validation>
</div>
