<div class="input-wrapper">
  <app-input-container
    [label]="label"
    [border]="control.touched && control.invalid ? '1px solid #F50057' : ''"
    [icon]="icon"
    [showPassword]="showPassword"
    (iconClick)="iconClickTrigger()"
  >
    <input
      [appIntlTelInput]="isPhone"
      [type]="type"
      [value]="value"
      [placeholder]="placeholder"
      [formControl]="formControl"
      (dialCodeChange)="countryCodeChanged($event)"

    />
  </app-input-container>

  <app-input-validation
    [control]="control"
    [showErrorsWhen]="showErrorsWhen"
    [isInvalid]="isInvalid"
  ></app-input-validation>
</div>

