.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 85vh;
    margin: 1.5rem 0;
  }

  .details {
    width: 25rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border: 0.5px solid whitesmoke;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form {
  padding: 0.5rem 1rem 0;
  width: 100%;
}


.login{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login a {
  color:  #3f51b5;
}


app-button {
  margin-top: 1rem;
}

