<div class="container">
  
  <app-partical-background />
  
  <div class="details">
    <app-title title="Register"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <app-text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        placeholder="Name"
        icon="person"
      />

      <app-text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        placeholder="Email"
        icon="email"
        type="email"
      />

      <app-text-input
        #password
        [showPassword]="showPassword"
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        placeholder="Password"
        icon="lock"
        [type]="showPassword ? 'text' : 'password'"
        (iconClick)="togglePasswordVisibility('showPassword')"
      />
      <app-text-input
        #confirmPassword
        [showPassword]="showConfirmPassword"
        [control]="fc.confirmPassword"
        [showErrorsWhen]="isSubmitted"
        placeholder="Confirm Password"
        icon="lock"
        [type]="showConfirmPassword ? 'text' : 'password'"
        (iconClick)="togglePasswordVisibility('showConfirmPassword')"
      />

      <app-text-input
        [control]="fc.address"
        [showErrorsWhen]="isSubmitted"
        placeholder="Address"
        icon="place"
      />

      <app-button
        [disabled]="isFormInvalid"
        [cursor]="isFormInvalid ? 'not-allowed' : 'pointer'"
        [bgColor]="isFormInvalid ? '#3f3f3f' : '#F50057'"
        [widthRem]="25"
        text="Register"
      />

      <div class="login">
        You already have an account? &nbsp;
        <a routerLink="/login" [queryParams]="{ returnUrl: returnUrl }">
          Login Here
        </a>
      </div>
    </form>
  </div>
</div>
