<div class="container">
  <app-partical-background />

  <div class="details">
    <app-title title="Register"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <app-text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted || (fc.name.touched && fc.name.invalid)"
        placeholder="Name"
        icon="person"
        [border]="fc.name.touched && fc.name.invalid ? '2px solid #F50057' : ''"
      />

      <app-text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted ||(fc.email.touched && fc.email.invalid)"
        placeholder="Email"
        icon="email"
        type="email"
        [border]="
          fc.email.touched && fc.email.invalid ? '2px solid #F50057' : ''
        "
      />

      <app-text-input
        #password
        [showPassword]="showPassword"
        (iconClick)="togglePasswordVisibility('showPassword')"
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted || (fc.password.touched && fc.password.invalid)"
        placeholder="Password"
        icon="lock"
        [type]="showPassword ? 'text' : 'password'"
        [border]="
          fc.password.touched && fc.password.invalid ? '2px solid #F50057' : ''
        "
      />

      <app-text-input
        #confirmPassword
        [showPassword]="showConfirmPassword"
        (iconClick)="togglePasswordVisibility('showConfirmPassword')"
        [control]="fc.confirmPassword"
        [showErrorsWhen]="isSubmitted || (fc.confirmPassword.touched && fc.confirmPassword.invalid)"
        placeholder="Confirm Password"
        icon="lock"
        [type]="showConfirmPassword ? 'text' : 'password'"
        [border]="
          fc.confirmPassword.touched && fc.confirmPassword.invalid
            ? '2px solid #F50057'
            : ''
        "
      />

      <app-text-input
        [control]="fc.address"
        [showErrorsWhen]="isSubmitted || (fc.address.touched && fc.address.invalid)"
        placeholder="Address"
        icon="place"
        [border]="
          fc.address.touched && fc.address.invalid ? '2px solid #F50057' : ''
        "
      />

      <app-button
        [disabled]="registerForm.touched && registerForm.invalid"
        bgColor="{{
          registerForm.touched && registerForm.invalid ? '#3f3f3f' : '#F50057'
        }}"
        text="Register"
      />

      <div class="login">
        You already have an account? &nbsp;
        <a routerLink="/login" [queryParams]="{ returnUrl: returnUrl }">
          Login Here
        </a>
      </div>
    </form>
  </div>
</div>
