<div class="container">
  <app-partical-background />
  <div class="details">
    <app-title title="Reset Password"></app-title>
    <form [formGroup]="resetForm" (ngSubmit)="reset()">
      <span> Enter your new password. </span>

      <app-text-input
        #password
        [showPassword]="showPassword"
        (iconClick)="togglePasswordVisibility('showPassword')"
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        placeholder="Password"
        icon="lock"
        [type]="showPassword ? 'text' : 'password'"
      />

      <app-text-input
        #confirmPassword
        [showPassword]="showConfirmPassword"
        (iconClick)="togglePasswordVisibility('showConfirmPassword')"
        [control]="fc.confirmPassword"
        [showErrorsWhen]="isSubmitted"
        placeholder="Confirm Password"
        icon="lock"
        [type]="showConfirmPassword ? 'text' : 'password'"
      />

      <app-button
        [disabled]="isFormInvalid"
        [cursor]="isFormInvalid ? 'not-allowed' : 'pointer'"
        [bgColor]="isFormInvalid ? '#3f3f3f' : '#F50057'"
        [widthRem]="25"
        text="Submit"
      ></app-button>
    </form>
  </div>
</div>
