/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';


*{
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

html{
  font-size:16px;
  background-color: #fcfcfc;


}

body{
  min-height: 90vh;
  height: 100%;
  margin: 60px 0 0;
  background-color: #fcfcfc;
  position: relative;
  
}

a{
  text-decoration: none;
}

