/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

html{
  font-size:16px;
  margin-top: 100px;
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}
