.container{
  height: 100%;
  min-height: calc(100vh - 40px); 
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
  overflow: hidden;
}

.box {
  width: 70rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.box > *{
  min-width: 20rem;
  max-width: 40rem;
}

img{
  border-radius: 3rem;
  object-fit: cover;
  height: 23rem;
  margin: 1rem;
}

.details{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex:1 0;
  padding: 2rem;
  color: black;
  margin-left: 1rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name{
  font-size: 2rem;
  font-weight: bold;
}

.stars {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 29px;
}

.mode-select {

  display: flex;
  align-items: center;
}

.mode-select label {
  margin-right:-40px;
}

.mode-select mat-select {
  min-width: 5.7rem;
}

.favorite{
  color: #3f51b5;
  font-size: 2.5rem;
}

.favorite:hover {
  cursor: pointer;
}

.favorite.not{
  color: grey;
}

.origins{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.origins span{
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 2rem;
  background-color: aliceblue;
}

.tags{
  display: flex;
  flex-wrap: wrap;
}

.tags a:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.tags a{
  background-color: #f0f0f0;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: #3f51b5;
}

.cook-time{
  margin-top: 1rem;
}

.cook-time span{
  padding: 0.6rem 2rem 0.6rem 0;
  border-radius: 10rem;
  font-size: 1.3rem;
}

.price{
  font-size: 1.8rem;
  margin: 2rem 2rem 2rem 0;
  color: #414141;
}

.price::before{
  content: "Price: ";
  color: darkgrey;
}

button{
  color: white;
  background: #3f51b5;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

button:hover{
  opacity: 0.9;
  cursor: pointer;
}
