<app-not-found
  [visible]="!product?.id"
  notFoundMessage="Product Not Found"
  resetLinkText="Back To Home"
/>

<div *ngIf="product?.id" class="container">
  <div class="box">
    <img [src]="product.imageUrl" [alt]="product.name" />

    <div class="details">
      <div class="header">
        <span class="name">
          {{ product.name }}
        </span>
        <span
          class="material-icons favorite"
          [ngClass]="{
            favorite: user.id && favoriteProductsSet.has(product.id),
            not: !(user.id && favoriteProductsSet.has(product.id))
          }"
          (click)="toggleFavourite(product)"
        >
          favorite
        </span>
      </div>

      <div class="rating">
        <div class="stars">
          <!-- In "rate" mode, show stars given by the current user -->
          <div *ngIf="selectedMode === 'Rate'">
            <app-star-rating
              [stars]="product.stars"
              [productId]="product.id"
              (starClicked)="updateStars($event.stars, $event.productId)"
            ></app-star-rating>
          </div>

          <!-- In "view" mode, show the average rating -->
          <div *ngIf="selectedMode === 'View'">
            <app-star-rating
              [averageRating]="product.averageRating"
              [productId]="product.id"
            ></app-star-rating>
          </div>

          <!-- Dropdown menu for mode selection using mat-select -->
          <div *ngIf="user.id" class="mode-select">
            <label [style.display]="isOptionSelected() ? 'none' : 'block'">
              Mode</label
            >
            <mat-select (selectionChange)="onModeSelectionChange($event)">
              <mat-option
                *ngFor="let option of modeOptions"
                [value]="option.value"
              >
                {{ option.label }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <div class="origins">
        <span *ngFor="let origin of product.origins">
          {{ origin }}
        </span>
      </div>

      <div class="tags">
        <a *ngFor="let tag of product.tags" routerLink="/tag/{{ tag }}">
          {{ tag }}
        </a>
      </div>

      <div class="price">
        <span>
          {{ product.price | currency : "EUR" }}
        </span>
      </div>

      <button (click)="addToCart()">
        <span><mat-icon>add</mat-icon></span>
        <span>Add To Cart</span>
      </button>
    </div>
  </div>
</div>
