footer {
    bottom: 0;
    margin-left: 250px;
    height: 40px;
    width: calc(100% - 250px);
    line-height: 40px;
    text-align: center;
    transition: 0.5s ease;
}

p {
    margin: 0;
    padding: 0;
    width: 80%;
    color: var(--disabled-color);
    display: inline-block;
}

.closed-sidebar {
    width: calc(100% - 73px);
    margin-left: 73px;
}


@media screen and (max-width: 700px) {
    footer {
        width: calc(100% - 73px);
        margin-left: 73px;
    }
    
    .closed-sidebar{
        width: calc(100% - 73px);
    }
}

@media screen and (max-width: 400px) {
    footer {
        width: 100%;
        margin-left: 0px;
    }
    
}


