footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 10 !important;
}

p {
    margin: 0;
    padding: 0;
    width: 80%;
    color: var(--disabled-color);
    display: inline-block;
}