<div
  class="wrapper"
  [ngStyle]="{ 'background-color': bgColor, border: border }"
>
  <div class="{{ icon ? 'icon-container' : 'not' }}" >
    <mat-icon class="icon" >
      {{ icon }}
    </mat-icon>
  </div>

  <div class="container">
    <label>
      {{ label }}
    </label>

    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>

  <app-visibility-icon
    *ngIf="icon === 'lock'"
    [isVisible]="showPassword"
    (iconClick)="iconClicked()"
  ></app-visibility-icon>
</div>
