.wrapper{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    border: 1px solid #e0e0e0;
    color: #ffffff00;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .container {
    width: 100%;
    margin-left: 0.5rem;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon-container {
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #3f51b5a1;
    display: flex;
    align-items: center;
  }

  .icon {
    width: 2rem;
  }

  .not {
    display: none;
    width: 0rem;
  }
  
  label{
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: flex-start;
    font-size: 0.9rem;
    color: #3f51b5;
    font-size: 1rem;
  }

  .content{
    width: 95%;
    height: 2rem;
    margin-left: 0rem;
    display: flex;
    align-self: flex-start;
    color: black;
  }





